version: '3.8'

services:
  postgres:
    container_name: postgres-nestjs
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: nestjs-password
      POSTGRES_USER: nestjs-user
      POSTGRES_DB:
      PG_DATA: /var/lib/postgresql/data
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: